body{
    background-color: #57564F;
}

.container{
    display: flex;
    flex-direction: row;
}

.background {
    margin-top: 50px;
    margin-left: 50px;
    background-color: #DDDAD0;
    height: 500px;
    width: 400px;
    border-radius: 50px;
    text-align: center;
    font-family: poppins;
    border: 3px solid #131010;
    
}

.title-background {
    background-color: #7A7A73;
    padding: 30px 10px;
    border-top-left-radius: 46px; /*arredonda a área do selecione*/
    border-top-right-radius: 46px; /*arredonda a área do selecione*/
    font-family: poppins;
    font-size: 34px;
    border-bottom: 3px solid #131010;
}

.boletim{
    margin-top: 50px;
    margin-left: 440px;
    background-color: #DDDAD0;
    height: 500px;
    width: 400px;
    border-radius: 50px;
    text-align: center;
    font-family: poppins;
    border: 3px solid #131010;
    align-items: center;
    
}

.container-campos{
    margin-top: 60px;
    font-size: 30px;
}

.campo{
    margin: 30px 30px;
    background-color: #7A7A73;
    padding: 10px 10px;
    border-radius: 30px;
    border: 2px solid #131010;
}

.campo:hover{
    color: #DDDAD0;
    background-color: #57564F;
    transition: 0.5s;
}

a{
    text-decoration: none;
    color: inherit;
}

#selecionado{
    color: #DDDAD0;
    background-color: #57564F;
}


.title-boletim{
    margin-top: 200px;
    font-family: poppins;
    font-size: 34px;
    
}

.back{
    font-family: poppins;
    margin: 20px 20px 20px;
    background-color: #7A7A73;
    padding: 7px 7px;
    display: inline-block;
    border-radius: 30px;
    border: 2px solid #131010 ;
}

.back:hover{
    color: #DDDAD0;
    background-color: #57564F;
    transition: 0.5s;
    transform: translateY(-3px); /* Faz ele dar um "pulinho" para cima */
}